:root {
  --fs-bigheading: 5rem;
    --fs-heading: 3rem;
    --fs-subheading: 2rem;
    --fs-smallheading: 1.5rem;
    --fs-tinyheading: 1.1rem;
    --fs-paragraph: 1rem;
    --fs-caption: 0.875rem;
    --fs-verysmall: 0.75rem;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}

:where(h1) {font-size: var(--fs-heading); font-weight: var(--fw-extra-bold)}
:where(h2) {font-size: var(--fs-subheading); font-weight: var(--fw-medium)}
:where(h3) {font-size: var(--fs-smallheading); font-weight: var(--fw-medium)}

:where(p) {font-size: var(--fs-paragraph); font-weight: var(--fw-regular)}
:where(.nav-bar a, .nav-bar p, li, summary) {font-size: var(--fs-caption)}

:where(button) {
  font-size: var(--fs-caption);
  font-weight: var(--fw-medium);
}