main {
    display: flex;
    flex-direction: column;
    width: 60%;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    main {
        width: 100%;
        padding: 1rem;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1400px) {
    main {
        width: 80%;
    }
}