:root {
    --bg-primary: #0E0B16;
    --bg-secondary: #1A0E2E;
    --bg-card: #2E1F47;

    --text-primary: #E2E2E2;
    --text-secondary: #B6B6C9;
    --text-muted: #8B8BA5;

    --accent: #FF2E63;
    --accent-hover: #FF579A;

    --link: #08D9D6;
    --link-hover: #34F5F2;

    --border-color: #3E2D5D;
    --icon-primary: #FF2E63;
}