:root {
    --bg-primary: #F8F9FA;
    --bg-secondary: #E9ECEF;
    --bg-card: #FFFFFF;

    --text-primary: #212529;
    --text-secondary: #495057;
    --text-muted: #6C757D;

    --accent:  #2CA58D;;
    --accent-hover: #1F7A6D;

    --link: #6F42C1;
    --link-hover: #8A4FFF;

    --border-color: #CED4DA;
    --shadow: rgba(0, 0, 0, 0.05);
    --box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15),
        0 6px 10px rgba(0, 0, 0, 0.10);
}